.main_nav {
    padding: 15px;
    display: flex;
    width: 100%;
    position: fixed;
}

.mobile_nav {
    width: 100%;
    position: fixed;
    
}

.mobile_nav_logo {
    padding: 20px;
    flex: 6;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.nav_logo {
    padding: 20px;
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.logo_img {
    width: 20px;
    height: 20px;
}

.logo_img:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo_img.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav_menu {
    flex: 6;
}

.menu_section{
    flex: 1;
    background: #61dafbaa;
}